#loading.alert Loading...
%h1 
  = params[:search_term]
-if !params[:search_term].nil? and !params[:search_term].blank?
  - if @show_photos.count > 1
    - @show_photos.each do |photo|
      - photo_info = flickr.photos.getInfo(:photo_id => photo.id) 
      - photo_url_s = FlickRaw.url_s(photo_info) 
      - photo_url_b = FlickRaw.url_b(photo_info) 
      %a{:href=> photo_url_b, :class=>"thumbs", "data-toggle" => "modal" }                                                                                            
        %img{:src => photo_url_s}
        #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          .modal-body
            %img{:src => photo_url_b}

    %hr.clear
      .pagination
        == Page: #{@show_photos.page} / #{@show_photos.pages} --
        == #{link_to("« previous", root_path(:search_term => params[:search_term], :page => @show_photos.page - 1)) + " - " if @show_photos.page > 1}
        = link_to "next »", root_path(:search_term => params[:search_term], :page => @show_photos.page + 1) if @show_photos.page < @show_photos.pages
